<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>GOAT</title>
  </head>
  <body>
    <header class="header">
      <div class="navbar">
        <a class="full-logo" href="/"
          ><img class="logo" src="/img/logo.png" /><img
            class="goat"
            src="/img/goat.png"
        /></a>
        <div class="search">
          <form class="search-box" action="submit">
            <input class="searcher" type="search" placeholder="Buscar GOAT" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass glass-box"></i>
            </button>
          </form>
          <button class="glass">
            <i class="fa-solid fa-magnifying-glass glass"></i>
          </button>
        </div>
        <div class="navbar-menu">
          <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/log">LOGIN</a></li>
          </ul>
        </div>
        <div class="cart-icon">
          <a href="/cart"><i class="fa-solid fa-bag-shopping shopping"></i></a>
        </div>
        <div class="hamburger"><i class="fa-solid fa-bars burger"></i></div>
      </div>
    </header>

    <main>
      <div class="cart-page">
        <div class="cart-article">
          <div class="cart-item-img">
            <img src="/img/argentina-camiseta.png" class="cart-camiseta-img" />
          </div>
          <div class="cart-item-info">
            <span>Camiseta Home Argentina</span>
            <span>Unida x1</span>
            <span>Talle M</span>
            <span>$28,900</span>
          </div>
        </div>
        <div class="cart-summary">
          <h2 class="cart-h2">ORDEN DE COMPRA</h2>
          <ul class="cart-list">
            <li class="cart-box-items">Detalle del producto</li>
            <li class="cart-box-items">Shipping</li>
            <li class="cart-box-items">Subtotal</li>
            <li class="cart-box-items">Total</li>
          </ul>
          <form method="POST" action="https:/index">
            <input type="hidden" name="parametre1" value="valeur1" />
            <input type="hidden" name="signature" value="signature" />
            <input type="submit" name="payer" value="Pagar" />
          </form>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="logo-box">
        <a href="/"><img class="footer-logo" src="/img/goat.png" /></a>
      </div>
      <div class="sitemap">
        <ul class="footer-list">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/log">LOGIN</a></li>
        </ul>
      </div>
      <div class="social-media">
        <a href="http://instagram.com"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="http://whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
      <div class="sign">GOAT project - Digitalhouse - TN44/Grupo 2</div>
    </footer>
  </body>
</html>
