<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOAT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="navbar">
        <a class="full-logo" href="/"
          ><img class="logo" src="/img/logo.png" /><img
            class="goat"
            src="/img/goat.png"
        /></a>
        <div class="search">
          <form class="search-box" action="submit">
            <input class="searcher" type="search" placeholder="Buscar GOAT" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass glass-box"></i>
            </button>
          </form>
          <button class="glass">
            <i class="fa-solid fa-magnifying-glass glass"></i>
          </button>
        </div>
        <div class="navbar-menu">
          <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/log">LOGIN</a></li>
          </ul>
        </div>
        <div class="cart-icon">
          <i class="fa-solid fa-bag-shopping shopping"></i>
        </div>
        <div class="hamburger"><i class="fa-solid fa-bars burger"></i></div>
      </div>
    </header>
    <main>
      <div class="presentation">
        <div class="info-title">
          <div>ARGENTINA</div>
          <div>HOME KIT</div>
          <div>LIONEL MESSI</div>
        </div>
        <div class="main-img"><img src="/img/jersey.jpeg" /></div>
      </div>
      <div class="product-footer">
        <div class="product-box">
          <div class="product-title">Argentina Home Kit</div>
          <div class="size">
            <label for="sizes"></label>
            <select name="sizes" id="sizes" required>
              <option value="" disabled selected hidden>Talles</option>
              <option value="XS">Xsmall</option>
              <option value="S">Small</option>
              <option value="M">Medium</option>
              <option value="L">Large</option>
              <option value="XL">Xlarge</option>
            </select>
          </div>
        </div>
        <a class="checkout" href="/cart"><button class="checkout">$28,900 CHECKOUT</button></div></a>
      </div>
      <div class="big-img"><img src="/img/messi.jpeg" /></div>
      <div class="player-facts">
        <div class="facts-title"><h3>GOAT facts</h3></div>
        <div class="fact-box">
          <h4>Argentina</h4>
          <ul>
            <li>Partidos: 163</li>
            <li>Goles: 90</li>
            <li>Titulos: 4</li>
          </ul>
        </div>
        <div class="fact-box">
          <h4>Barcelona</h4>
          <ul>
            <li>Partidos: 778</li>
            <li>Goles: 672</li>
            <li>Titulos: 35</li>
          </ul>
        </div>
        <div class="fact-box">
          <h4>Total</h4>
          <ul>
            <li>Partidos: 988</li>
            <li>Goles: 781</li>
            <li>Titulos: 41</li>
          </ul>
        </div>
      </div>
      <div class="information-a">
        <div class="info-img-a"><img src="/img/messi-a.jpeg" /></div>
        <p>
          Goleador prolífico, Messi es conocido por su remate, posicionamiento, reacciones rápidas y habilidad para hacer corridas ofensivas para vencer las líneas defensivas rivales. También puede funcionar en un rol de organizador, debido a su visión y rango de pases. Es frecuentemente llamado "mago" por crear situaciones de gol de la nada. Es, además, un preciso lanzador de tiros libres y uno de los jugadores con más goles en la historia de falta directa. También suele anotar goles picando la pelota por encima del arquero.
        </p>
      </div>
      <div class="information-b">
        <p>
          Ganador en cinco ocasiones del Balón de Oro, en cuatro de ellas consecutivas (2009-2012), es el máximo goleador de la historia del Barça, ya se encuentra en el top ten' histórico de los artilleros de la Primera División española; es el jugador extranjero con más partidos disputados con la camiseta blaugrana.
        </p>
        <div class="info-img-b"><img src="/img/messi-b.jpeg" /></div>
      </div>
    </main>
  </body>
</html>
