<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>


    <main>

        <div class="contenedor-formulario">
            <h1>Hola admin! ¿Qué deseas hacer?</h1>
            
            <div class="formulario-admin">

            <a class="botones-product" href="administrator/crear">Crear</a>
            <a class="botones-product" href="/administrator/modificar">Modificar</a>
            </div>
            
        </div>

    </main>

    <%- include('./partials/footer')%>
</body>

</html>