<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')%>

  <body>

    <%- include('./partials/header')%>

    <main>
      <section class="contenido-2">
        <div class="contenedor-contenido-2">
          <h1>Regístrate</h1>
          <p>Crea tu cuenta</p>
          <form action="/register" method="post" class="login" enctype="multipart/form-data">
            <input type="text" id="firstName" name="firstName" placeholder="NOMBRE" />
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="APELLIDO"
            />
            <input type="email" id="email" name="email" placeholder="EMAIL" />
            <input
              type="email"
              id="email2"
              name="email2"
              placeholder="REPETIR EMAIL"
            />
            <input
              type="password"
              id="password"
              name="password"
              placeholder="CONTRASEÑA"
            />
            <input
              type="password"
              id="password2"
              name="password2"
              placeholder="REPETIR CONTRASEÑA"
            />
            <input
              type="file"
              id="avatar"
              name="avatar"
              placeholder="SELECCIONA AVATAR"
            />
            <label for="type" class="form-label">Tipo Usuario:</label>
						<select name="type" id="type" class="form-input">
							<option value="">Tipo usuario</option>
							<option value="Admin">Admin</option>
							<option value="Customer">Customeer</option>
						</select>
            <a href="/log" class="ir-a">¿Ya tienes cuenta? Inicia sesión</a>
            <div class="boton_ingresar"><button>Ingresar</button></div>
          </form>
        </div>
      </section>
    </main>

    <%- include('./partials/footer')%>

  </body>
</html>