<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOAT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <header class="header">
      <div class="navbar">
        <a class="full-logo" href="/"
          ><img class="logo" src="/img/logo.png" /><img
            class="goat"
            src="/img/goat.png"
        /></a>
        <div class="search">
          <form class="search-box" action="submit">
            <input class="searcher" type="search" placeholder="Buscar GOAT" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass glass-box"></i>
            </button>
          </form>
          <button class="glass">
            <i class="fa-solid fa-magnifying-glass glass"></i>
          </button>
        </div>
        <div class="navbar-menu">
          <ul>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/log">LOGIN</a></li>
          </ul>
        </div>
        <div class="cart-icon">
          <a href="/cart"><i class="fa-solid fa-bag-shopping shopping"></i></a>
        </div>
        <div class="hamburger"><i class="fa-solid fa-bars burger"></i></div>
      </div>
    </header>

    <main class="shop">
      <div class="shop-title">
        <ul class="goat-title">
          <li class="title-a">GREATEST OF ALL TIME</li>
          <li class="title-b">Camisetas originales del mundial</li>
          <li class="title-c">Firmadas por tu GOAT</li>
        </ul>
        <form class="filter" action="">
          <label for="filter">Filtrar</label>
          <select name="filter" id="filter">
            <optgroup label="Grupo A">
              <option value="qatar">Qatar</option>
              <option value="ecuador">Ecuador</option>
              <option value="senegal">Senegal</option>
              <option value="netherlands">Holanda</option>
            </optgroup>
            <optgroup label="Grupo B">
              <option value="england">Inglaterra</option>
              <option value="iran">Iran</option>
              <option value="united-states">Estados Unidos</option>
              <option value="wales">Gales</option>
            </optgroup>
            <optgroup label="Grupo C">
              <option value="argentina">Argentina</option>
              <option value="saudi-arab">Arabia Saudita</option>
              <option value="mexico">Mexico</option>
              <option value="poland">Polonia</option>
            </optgroup>
            <optgroup label="Grupo D">
              <option value="france">Francia</option>
              <option value="australia">Australia</option>
              <option value="denmark">Dinamarca</option>
              <option value="tunisia">Túnez</option>
            </optgroup>
            <optgroup label="Grupo E">
              <option value="spain">España</option>
              <option value="costa-rica">Costa Rica</option>
              <option value="germany">Alemania</option>
              <option value="japan">Japon</option>
            </optgroup>
            <optgroup label="Grupo F">
              <option value="belgium">Belgica</option>
              <option value="canada">Canada</option>
              <option value="morocco">Morroco</option>
              <option value="croatia">Croacia</option>
            </optgroup>
            <optgroup label="Grupo G">
              <option value="brazil">Brasil</option>
              <option value="serbia">Serbia</option>
              <option value="switzerland">Suiza</option>
              <option value="cameroon">Camerún</option>
            </optgroup>
            <optgroup label="Grupo H">
              <option value="portugal">Portugal</option>
              <option value="ghana">Ghana</option>
              <option value="uruguay">Uruguay</option>
              <option value="south-korea">Corea Del Sur</option>
            </optgroup>
          </select>
          <input type="submit" value="Filtrar" />
        </form>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO A</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO B</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO C</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO D</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO E</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO F</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-a">
        <div class="group-x">GRUPO G</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
      <div class="shop-products-b">
        <div class="group-y">GRUPO H</div>
        <div class="group-products">
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-camiseta.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
          <article class="product">
            <div class="img-box">
              <a href="/product"><img class="product-img" src="/img/argentina-jugador.png" /></a>
            </div>
            <div>
              <ul class="product-info">
                <li class="description"><a href="/product">CAMISETA HOME ARGENTINA</a></li>
                <li class="player"><a href="/product">GOAT Lionel Messi</a></li>
                <li class="price"><a href="/product">$ 28,900</a></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="logo-box">
        <a href="/"><img class="footer-logo" src="/img/goat.png"></a>
      </div>
      <div class="sitemap">
        <ul class="footer-list">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/log">LOGIN</a></li>
        </ul>
      </div>
      <div class="social-media">
        <a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a href="http://whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
      <div class="sign">GOAT project - Digitalhouse - TN44/Grupo 2</div>
    </footer>
  </body>
</html>